body {
    background-color: lightgray;
}
h1 {
    font-family: cursive;
    font-size:75px;
}
#ready_to_eat {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:strong;
    font-size:50px;
}

#already_eaten {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:strong;
    font-size:50px;
}
body {
background: url('../img/four.jpg');
}